.the-navbar {
  width: 100vw;
  height:14vh;
  display:flex;
}

.titleBoard {
  display: flex;
  align-items: center;
  background-color: #673AB7;
  width: 100%;
  justify-content: space-around;
  }

  .title {
  color: white;
  font-family: Roboto, sans-serif;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  }

  .userPic {
    border-radius: 100%;
  }
