  <div class="container">

  <ng-container *ngIf="newStory">
      <div class="newStory">
        <p>CREATE NEW STORY</p>
        <p>Add a title and tagline for your new story</p>
        <input type="text">
        <input type="text">
        <button (click)="clickCancel()">Cancel</button>
        <button>Create</button>
      </div>
    </ng-container>

  <div class="addStory">
    <button class="addButton" (click)="handleClick()">
  <img src="../../assets/plus.svg">
  </button>
  </div>
  <img src="https://s3.eu-west-3.amazonaws.com/map-story/uploads/file.jpeg">


  <div>
    <ul *ngFor="let story of stories">
    <app-story class="myStory" [story]="story"></app-story>
    </ul>
  </div>


</div>
