<div class="event-container">
    <h1>ADD A NEW EVENT</h1>
    {{diagnostic}}
    <form #eventForm="ngForm">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="newEvent.title" name="title" placeholder="Your Event Title" >
      </div>

      <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="text" class="form-control" id="startTime" required [(ngModel)]="newEvent.startTime" name="startTime" placeholder="00:00">
      </div>


      <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" (change)="onFileSelected($event)">

      <button type="button" (click)="onUpload()">Upload File</button>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>

</div>